@tailwind base;
@tailwind components;

/* ia-writer-quattro-latin-400-normal */
@font-face {
  font-family: "iA Writer Quattro";
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-quattro@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-quattro@latest/latin-400-normal.woff)
      format("woff");
}

body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  font-family: iA Writer Quattro;
}

::-webkit-scrollbar {
  display: none;
}

main {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  @apply m-auto;
  @apply max-w-3xl;
  @apply px-3;
  @apply py-6;
}

h1 {
  @apply text-primary;
  @apply text-lg;
  @apply font-normal;
  @apply mb-1;
}

h2 {
  @apply text-primary;
  @apply text-md;
  @apply font-normal;
  @apply mb-1;
}

p {
  @apply m-0;
  @apply text-secondary;
  @apply text-md;
}

figure {
  @apply: shadow-secondary;
  @apply: m-0;
  @apply: font-md;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes grow {
  0% {
    top: 12px;
    margin: 12px;
  }

  100% {
    top: 0;
    margin: 12px 0;
    border-radius: 0;
  }
}

@scroll-timeline --scroll-effect {
  source: auto;
  start: 0px;
  end: 2px;
}

header {
  animation: grow linear;
  animation-timeline: scroll();
  animation-range: 0% 100%;
} */
