@tailwind base;
@tailwind components;

html {
  font-family: system-ui, sans-serif;
}

body {
  font-display: swap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  /* fix for Chrome */
}
body::-webkit-scrollbar {
  display: none;
}

main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

p {
  @apply m-0;
  @apply text-silver;
  @apply text-md;
}

figure {
  @apply: shadow-dark;
  @apply: m-0;
  @apply: font-md;
}
