.progress-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;

  .progress {
    height: 6px;
    width: 100%;
    border-radius: 4px;
    background-color: #303030;

    &::before {
      content: '';
      display: flex;
      justify-content: end;
      width: calc(var(--percent) * 1%);
      height: 100%;
      background-color: rgb(var(--white));
      white-space: nowrap;
      transition: width 1s;
      border-radius: 4px;
    }
  }

  .progress-bar-timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(var(--white));
    font-size: 10px;
    width: 100%;
    margin: 0 1px;
  }
}

.timer--current {
  text-align: left;
}

.timer--end {
  text-align: right;
}
