---
import Layout from '../layouts/Layout.astro';

import Header from '../sections/Header.astro';
import About from '../sections/About.astro';
import Experience from '../sections/Experience.astro';
import Education from '../sections/Education.astro';
import Contact from '../sections/Contact.astro';
import Skill from '../sections/Skill.astro';

import SpotifyPlayer from '../components/SpotifyPlayer.astro';
---
<Layout title="justaplant">
	<main id='main'>
		<Header />
		<About />
		<Experience />
		<Education />
		<Skill />
		<Contact />
	</main>
	<SpotifyPlayer />
</Layout>

<style>
	main {
		font-family: 'Noto Sans', sans-serif;
		margin: auto;
		max-width: 540px;
		padding: 12px;
	}
	body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
	main {
    -ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
	}
</style>
