---
import Layout from '../layouts/Layout.astro';

import About from '../sections/About.astro';
import Experience from '../sections/Experience.astro';
import Education from '../sections/Education.astro';
import Contact from '../sections/Contact.astro';
import Skill from '../sections/Skill.astro';

import Button from '../components/Button.astro';
---
<Layout title="justaplant">
	<main id='main'>
		<h1>
			justaplant
		</h1>
		<h2>Alperen Sahin Frontend Developer Ankara</h2>
		<About />
		<Experience />
		<Education />
		<Skill />
		<Contact />
	</main>
	<Button type='spotify' id='spotify' />
</Layout>

<style>
	main {
		font-family: 'Noto Sans', sans-serif;
		margin: auto;
		max-width: 540px;
		padding: 12px;
	}
	body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
	main {
    -ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
	}
	h1 {
		font-size: 20px;
		color: white;
		font-weight: 500;
	}
	h2 {
		font-size: 14px;
		color: rgb(var(--grey));
		font-weight: 500;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
