---

---

<div class="flex flex-col gap-2">
  <div class="flex w-full justify-between items-center">
    <slot name="header" />
    <slot name="date" />
  </div>
  <div>
    <slot name="content" />
  </div>
</div>
