---
export interface Props {
  text: string;
}

const { text} = Astro.props;
---

<div class="chip inline-block text-md rounded-md py-1.5 px-2 text-white bg-jet transition-all duration-300 hover:cursor-pointer hover:shadow-light">
	<span>
		{text}
	</span>
</div>
