---
import SubHeader from "./SubHeader.astro";
import Link from "./Link";
import Paragraph from "./Paragraph.astro";

interface Props {
  date: string;
  text: string;
  link: string;
  desc: string;
}

const { date, text, link, desc } = Astro.props;
---

<div class="flex">
  <SubHeader text={date} />
  <div class="flex flex-col">
    <Link text={text} link={link} />
    <Paragraph>
      {desc}
    </Paragraph>
  </div>
</div>
