---
import Link from './Link.astro';

export interface Props {
  text: string;
  link?: string;
  linkText?: string;
}

const { text, link, linkText } = Astro.props;
---

<p>
	{text}
	{link && linkText && <Link link={link} text={linkText} />}
</p>

