---
interface Props {
  applyMargin?: boolean;
  className?: string;
  delay?: number;
}

const { applyMargin = true, className = "", delay = 1 } = Astro.props;

const hasTitle = Astro.slots.has("title");
---

<div
  class={`${applyMargin ? "mt-4" : "mt-0"} ${className}`}
  style={`--delay: ${delay}s`}
>
  {}
  {hasTitle && <slot name="title" />}
  <slot />
</div>

<style>
  div {
    animation: fade-in var(--delay) ease-in-out;
  }
</style>
