---
import SectionHeader from "./SectionHeader.astro";

interface Props {
  title?: string;
  applyMargin?: boolean;
  className?: string;
  id?: string;
  delay?: number;
}

const {
  title,
  applyMargin = true,
  className = "",
  id,
  delay = 1,
} = Astro.props;
---

<div
  class={`${applyMargin ? "mt-4" : "mt-0"} ${className}`}
  style={`--delay: ${delay}s`}
>
  {title && <SectionHeader title={title} />}
  <slot />
</div>

<style>
  div {
    animation: fade-in var(--delay) ease-in-out;
  }
</style>
