---
import SectionHeader from "./SectionHeader.astro";

interface Props {
  title?: string,
	className?: string
}

const { title, className = '' } = Astro.props;
---

<div  class={`mt-4 ${className}`}>
	{title && <SectionHeader title={title} />}
	<slot />
</div>
