---
import SectionHeader from "./SectionHeader.astro";

interface Props {
  title?: string
}

const { title } = Astro.props;
---

<div  class="wrapper">
	{title && <SectionHeader title={title} />}
	<slot />
</div>

<style>
	.wrapper {
    margin-top: 16px;
	}
</style>
