---
import SectionHeader from "./SectionHeader.astro";

interface Props {
  title?: string,
	applyMargin?: boolean
}

const { title, applyMargin = true } = Astro.props;
---

<div  class={`${applyMargin ? 'mt-4' : 'mt-0'}`}>
	{title && <SectionHeader title={title} />}
	<slot />
</div>
