---
export interface Props {
  text: string;
}

const { text } = Astro.props;
---

<span>
  {text}
</span>

<style>
  span {
    font-size: 14px;
    color: rgb(var(--dark-grey));
    min-width: 150px;
    display: inline-block;
  }
</style>
