---
import SectionWrapper from "../components/SectionWrapper.astro";
import Link from "../components/Link.astro";
---
<SectionWrapper title="About">
	<p>
		Makes lo-fi songs and loves synthesizers and drums also frontend developer
		<Link link="https://www.accenture.com/gb-en" text="@Accenture"/>
	</p>
</SectionWrapper>
