---
import SectionWrapper from "../components/SectionWrapper.astro";
---

<SectionWrapper applyMargin={false} delay={0.5}>
  <h1>Hi, I'm Alperen 👋</h1>
  <p>
    Amateur lo-fi producer, average synthesizer enjoyer and software engineer.
  </p>
</SectionWrapper>
