---
import SectionWrapper from "../components/SectionWrapper.astro";
import Paragraph from "../components/Paragraph.astro";
---

<SectionWrapper applyMargin={false}>
  <h1 class="text-white text-lg font-normal mb-1">Hi, I'm Alperen 👋</h1>
  <Paragraph>
    Amateur lo-fi producer, average synthesizer enjoyer and software engineer
  </Paragraph>
</SectionWrapper>
