---
import SectionWrapper from "../components/SectionWrapper.astro";
import Link from "../components/Link";
---
<SectionWrapper title="About">
	<p>
		Average lo-fi producer, synthesizer enjoyer and frontend developer
		<Link link="https://www.accenture.com/gb-en" text="@Accenture"/>
	</p>
</SectionWrapper>
