---
import DateFragment from "../components/DateFragment.astro";
import SectionWrapper from "../components/SectionWrapper.astro";

const EducationData = [
  {
    date: "2018 — 2023",
    text: "Hacettepe University - Electrical and Electronics Engineering",
    link: "http://www.ee.hacettepe.edu.tr/",
    description:
      "Learned circuit theory, C, VHDL, signal processing, integrated circuit design and embedded system design.",
  },
  {
    date: "2016 — 2017",
    text: "Grand Valley State University",
    link: "https://www.gvsu.edu/",
    description:
      "Attended to Intensive English Program for Academic Purposes offered by ELS Language Center at Grand Rapids, MI.",
  },
];
---

<SectionWrapper title="Education" delay={1.5}>
  <div class="flex flex-col gap-4">
    {
      EducationData.map((edu) => (
        <DateFragment
          date={edu.date}
          text={edu.text}
          link={edu.link}
          desc={edu.description}
        />
      ))
    }
  </div>
</SectionWrapper>
