---
import SectionWrapper from "../components/SectionWrapper.astro";
import SubHeader from "../components/SubHeader.astro";
import Link from "../components/Link";

const ExperinceData = [
  {
    date: "2025 - Now",
    text: "Software Engineer",
    link: "https://www.picussecurity.com/",
    description:
      "Developing Attack Path Validation product with React, Typescript, Tailwind.",
  },
  {
    date: "2023 - 2025",
    text: "Software Engineer",
    link: "https://www.accenture.com/gb-en",
    description:
      "Developing a components library for leading medical company in Switzerland with Stencil, Typescript, React, Vue, Angular.",
  },
  {
    date: "2022 — 2023",
    text: "Frontend Developer",
    link: "https://www.jotform.com",
    description:
      "Developed internal tools for SEO and Translation teams. Maintained payment system integrations (Stripe, Adyen, Fastspring).",
  },
  {
    date: "2021 — 2022",
    text: "Technical Support Engineer at Jotform",
    link: "https://www.jotform.com",
    description:
      "Worked on Approvals project. Developed features, fixed bugs attended team meatings to plan development schedule.",
  },
  // {
  //   date: "2021 — 2021",
  //   text: "Web Development Intern",
  //   link: "https://www.jotform.com",
  //   description:
  //     "Worked on a internal bug on Workflow and Node Client for Jotform API.",
  // },
];
---

<SectionWrapper delay={1}>
  <Fragment>
    <h2>Experience</h2>
    <div class="flex flex-col gap-4">
      {
        ExperinceData.map(({ date, text, link, description }) => (
          <div class="flex">
            <SubHeader>{date}</SubHeader>
            <div class="flex flex-col">
              <Link href={link}>{text}</Link>
              <p>{description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </Fragment>
</SectionWrapper>
