---
import DateFragment from "../components/DateFragment.astro";
import SectionWrapper from "../components/SectionWrapper.astro";

const ExperinceData = [
	{
		date: "Nov 2023 - Nov",
		text: "Frontend Developer",
		link: "https://www.accenture.com/gb-en",
		description: "Developing a components library for leading medical company in Switzerland with Stencil, Typescript, React, Vue, Angular."
	},
	{
		date: "Sep 2022 — Oct 2023",
		text: "Frontend Developer",
		link: "https://www.jotform.com",
		description: "Developed internal tools for SEO and Translation teams. Maintained payment system integrations (Stripe, Adyen, Fastspring)."
	},
	{
		date: "Oct 2021 — Sep 2022",
		text: "Technical Support Engineer at Jotform",
		link: "https://www.jotform.com",
		description: "Worked on Approvals project. Developed features, fixed bugs attended team meatings to plan development schedule."
	},
	{
		date: "Jul 2021 — Sep 2021",
		text: "Web Development Intern",
		link: "https://www.jotform.com",
		description: "Worked on a internal bug on Workflow and Node Client for Jotform API."
	}
];
---
<SectionWrapper title="Work Experience">
	<div class="experience-container">
		{ExperinceData.map(exp => <DateFragment date={exp.date} text={exp.text} link={exp.link} desc={exp.description} />)}
	</div>
</SectionWrapper>

<style>
  .experience-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
</style>
