---
import SectionWrapper from "../components/SectionWrapper.astro";
import Glare from "../icons/Glare.astro";
---

<SectionWrapper applyMargin={false}>
	<div class="flex items-center">
		<h1 class="text-lg text-white font-medium my-3">justaplant</h1>
		{false && (
			<a href="/blog" data-astro-prefetch="hover" class="blog-cta">
				<span class="leading-4">Blog</span>
				<Glare className="w-4 h-4 fill-white"/>
			</a>
		)}
	</div>
	<h2 class="text-md text-silver font-medium">
		Alperen Sahin, Frontend Developer from Ankara
	</h2>
</SectionWrapper>

<style>
	.blog-cta {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4px;
		cursor: pointer;
		margin-left: auto;
		border: none;
		font-size: 14px;
    border-radius: 8px;
    padding: 8px 0;
		width: 80px;
    color: rgb(var(--white));
    transition: 0.3s all ease-in-out;
		box-shadow: 0px 0px 34px -12px rgba(239,148,108,1);
		background: linear-gradient(273deg, #EF946C, #70877F);
		text-decoration: none;
	}

	.blog-cta:hover {
		box-shadow: 0px 0px 30px -9px rgba(239,148,108,1);
	}
</style>
