---
import SectionWrapper from "../components/SectionWrapper.astro";

const Skills = [
  {
    text: "Typescript",
  },
  {
    text: "React",
  },
  {
    text: "Next.js",
  },
  {
    text: "Stencil",
  },
  {
    text: "Rust",
  },
  {
    text: "Go",
  },
  {
    text: "Full Stack Development",
  },
];
---

<SectionWrapper delay={1.5}>
  <div class="flex flex-wrap gap-1.5">
    {
      Skills.map((skill) => (
        <div class="text-md leading-[15px] rounded-md py-2.5 px-3 text-primary bg-secondary transition-all duration-300 hover:cursor-pointer shadow-secondary hover:shadow-primary">
          {skill.text}
        </div>
      ))
    }
  </div>
</SectionWrapper>
