---
import Chip from "../components/Chip.astro";
import SectionWrapper from "../components/SectionWrapper.astro";

const Skills = [
	{
		text: 'Typescript'
	},
	{
		text: 'React'
	},
	{
		text: 'Next.js'
	},
	{
		text: 'Stencil'
	},
	{
		text: 'Full Stack Development'
	},
	{
		text: 'Rust'
	},
	{
		text: 'Go'
	},
	{
		text: 'Python'
	},
];
---
<SectionWrapper title="Skills">
	<div class="tags">
		{Skills.map(skill => <Chip text={skill.text} />)}
	</div>
</SectionWrapper>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
</style>
