---
import SectionHeader from "../components/SectionHeader.astro";
import Tag from "../components/Tag.astro";

const Skills = [
  {
    text: 'Typescript'
  },
  {
    text: 'React'
  },
  {
    text: 'Next.js'
  },
  {
    text: 'Stencil'
  },
  {
    text: 'Node'
  },
  {
    text: 'Full Stack Development'
  },
  {
    text: 'Rust'
  },
  {
    text: 'Astro ❤️'
  },
  {
    text: 'Python'
  },
];
---

<div>
  <SectionHeader title="Skills" />
  <div class="tags">
    {Skills.map(skill => <Tag text={skill.text} />)}
  </div>
</div>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
</style>
