---
import Chip from "../components/Chip.astro";
import SectionWrapper from "../components/SectionWrapper.astro";

const Skills = [
	{
		text: 'Typescript'
	},
	{
		text: 'React'
	},
	{
		text: 'Next.js'
	},
	{
		text: 'Stencil'
	},
	{
		text: 'Rust'
	},
	{
		text: 'Go'
	},
	{
		text: 'Full Stack Development'
	},
];
---
<SectionWrapper title="Skills">
	<div class="flex flex-wrap gap-1.5">
		{Skills.map(skill => <Chip text={skill.text} />)}
	</div>
</SectionWrapper>
