---
import SectionWrapper from "../components/SectionWrapper.astro";
---

<SectionWrapper applyMargin={false} delay={0.5}>
  <h1>Today I Learned...</h1>
  <p>
    I've curated a collection of insights and knowledge that I've learned each
    day.
  </p>
</SectionWrapper>
