---
import { getCollection } from "astro:content";

import SectionWrapper from "../components/SectionWrapper.astro";

import Link from "../components/Link";
import List from "../components/List.astro";

const data = await getCollection("til");
const sanitizedTILData = await Promise.all(
  data?.map(async ({ slug, data }) => ({ ...data, slug }))
);
---

<SectionWrapper
  className="flex flex-col justify-center gap-4 mt-8 w-full"
  delay={1}
>
  <List>
    {
      sanitizedTILData
        .filter(({ published }) => published)
        .map(({ title, slug, date }) => (
          <>
            <li class="flex gap-6 w-full items-start py-1 overflow-hidden">
              <span class="text-secondary text-md">{date}</span>
              <Link
                className=""
                href={`/til/${slug}`}
                target="_self"
                showIcon={false}
              >
                {title}
              </Link>
            </li>
          </>
        ))
    }
  </List>
</SectionWrapper>
