---
import Body from "../components/Body.astro";
---

<!doctype html>
<html lang="en">
  <slot name="basehead" />
  <Body>
    <slot name="header" />
    <slot name="cover" />
    <main>
      <slot name="title" />
      <slot name="tags" />
      <article class="my-8">
        <slot />
      </article>
      <slot name="footer" />
    </main>
  </Body>
</html>
