---
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import Header from "../sections/Header.astro";
import Main from "../components/Main.astro";

const {
  frontmatter: { title, description, date },
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={`justaplant | ${title}`} description={description}>
    <link rel="stylesheet" href="../prism.css" />
  </BaseHead>
  <Body>
    <Header />
    <Main>
      <h1 class="text-white text-lg font-normal mb-1">{title}</h1>
      <span class="text-silver text-sm">{date}</span>
      <article class="mt-8">
        <slot />
      </article>
    </Main>
  </Body>
</html>
