---
import BaseHead from '../components/BaseHead.astro';
import Body from '../components/Body.astro';
---

<!DOCTYPE html>
<html lang="en">
	<BaseHead title="justaplant"  description='"Portfolio website of Alperen Sahin"'/>
	<Body>
		<slot />
	</Body>
</html>

