---
import BaseHead from "../components/BaseHead.astro";
import Header from "../sections/Header.astro";
import Body from "../components/Body.astro";
import Main from "../components/Main.astro";
---

<!doctype html>
<html lang="en">
  <BaseHead
    title="justaplant"
    description='"Portfolio website of Alperen Sahin"'
  />
  <Body>
    <Header />
    <Main>
      <slot />
    </Main>
  </Body>
</html>
